@{
    ViewBag.Title = "Home Page";
}

<form action="/Home/SearchProducts">

    <input type="text" name="productName" required />
    <input type="submit" value="Search Products" />

</form>
