@{
    ViewBag.Title = "SearchProducts";
}
<br />
<br />

<h2>Products matching your input: </h2>

<br />
<br />


@*Create a table of the products with Razor*@
@foreach (var p in ViewBag.SearchResults)
{
    <table border="1" class="table">

        <tr>
            <td>@p</td>
        </tr>

    </table>
}

@*Create a list of the products with Razor
    @foreach (var p in ViewBag.SearchResults)
    {
        <ul>
            <td>@p</td>
        </ul>
    }*@

